
@{
    ViewData["Title"] = "Calc. Efectivo";

    //
    string[] currencyLabels = new string[] { "1", "2", "5", "10", "20", "50", "1", "2", "5", "10", "20", "50", "100", "200", "500" };
    string[] currencyValues = new string[] { "0.01", "0.02", "0.05", "0.1", "0.2", "0.5", "1", "2", "5", "10", "20", "50", "100", "200", "500" };

    string columnWidth7 = (100.0 / 7.0).ToString().Replace(",", ".");
    string columnWidth8 = (100.0 / 8.0).ToString().Replace(",", ".");
}

<h2 style="font-weight:bold;">Calcular efectivo</h2>
<hr />
<div id="gridCalculator">
    <div class="row" style="height:2em">
        <div class="col-5 offset-1 border-0 rounded" style="display:grid;color:darkolivegreen;">
            <p class="text-center" style="margin-top:auto;margin-bottom:auto;">billetes</p>
        </div>
        <div class="col-6 border-0 rounded" style="display:grid;color:sandybrown;">
            <p class="text-center" style="margin-top:auto;margin-bottom:auto;">monedas</p>
        </div>
    </div>
    <div class="row" style="height:2em">
        <div class="col-5 offset-1" style="text-align:center">
            @for (int idx = 14; idx >= 8; idx--)
            {
                <div style="float:left; height:100%; display:grid; width:@columnWidth7%;"><p style="margin-top:auto;margin-bottom:auto">@currencyLabels[idx]</p></div>
            }
        </div>
        <div class="col-6" style="text-align:center">
            @for (int idx = 7; idx >= 0; idx--)
            {
                <div style="float:left; height:100%; display:grid; width:@columnWidth8%;"><p style="margin-top:auto;margin-bottom:auto">@currencyLabels[idx]</p></div>
            }
        </div>
    </div>
        <div class="row" style="height:2em">
            <div class="col-5 offset-1" style="text-align:center">
                @{
                    @for (int idx = 14; idx >= 8; idx--)
                    {
                        <div style="float:left; height:100%; display:grid; width:@columnWidth7%;">
                            <input class="integerInput" style="float:left;width:100%;margin-top:auto;margin-bottom:auto"
                                   type="number" value="" min="0" step="1" inputmode="numeric"
                                   data-index="@idx" data-weight="@currencyValues[idx]" onkeyup='recalculate(this)'>
                        </div>

                    }
                }
            </div>
            <div class="col-6" style="text-align:center">
                @{
                    @for (int idx = 7; idx >= 0; idx--)
                    {
                        <div style="float:left; height:100%; display:grid; width:@columnWidth8%;">
                            <input class="integerInput" style="float:left;width:100%;margin-top:auto;margin-bottom:auto"
                                   type="number" value="" min="0" step="1" inputmode="numeric"
                                   data-index="@idx" data-weight="@currencyValues[idx]" onkeyup='recalculate(this)'>
                        </div>

                    }
                }
            </div>
        </div>
        <div class="row" style="height:2em">
            <div class="col-5 offset-1" style="text-align:center">
                @for (int idx = 14; idx >= 8; idx--)
                {
                <div style="float:left; height:100%; display:grid; width:@columnWidth7%;"><p  id="partialResult_@idx" style="margin-top:auto;margin-bottom:auto">0</p></div>
                }
            </div>
            <div class="col-6" style="text-align:center">
                @for (int idx = 7; idx >= 0; idx--)
                {
                <div style="float:left; height:100%; display:grid; width:@columnWidth8%;"><p id="partialResult_@idx" style="margin-top:auto;margin-bottom:auto">0</p></div>
                }
            </div>
        </div>
        <div class="row" style="height:2em">
            <div class="col offset-1" style="text-align: center">
                <p style="margin-top:auto;margin-bottom:auto">
                    <hr />
                </p>
            </div>
        </div>
        <div class="row" style="height: 2em">
            <div class="col-1" style="height:100%; display:grid; text-align:center"><p style="margin-top:auto;margin-bottom:auto;font-weight:bold;">Total</p></div>
            <div class="col-11" style="height:100%; display:grid; text-align:left"><p style="margin-top:auto;margin-bottom:auto"><span id="totalAmount"></span> €</p></div>
        </div>
    </div>

@section Scripts{
    <script type="text/javascript">
        var weights = new Array(0.01, 0.02, 0.05, 0.1, 0.2, 0.5, 1, 2, 5, 10, 20, 50, 100, 200, 500);
        var numberOfItems = new Array(15);
        var partialQuantities = new Array(15);
        var totalQuantity = 0.0;

        docReady(function () {
            // DOM is loaded and ready for manipulation here
            document.getElementById('totalAmount').textContent = totalQuantity;
            numberOfItems = Array.apply(null, Array(15)).map(_ => 0.0);
            partialQuantities = Array.apply(null, Array(15)).map(_ => 0.0);

            //
            var elements = document.getElementsByClassName("integerInput");
            Array.from(elements).forEach(function (element) {
                element.addEventListener("keypress", function (e) {
                    //debugger;
                    if (e.which < 48 || e.which > 57)
                        event.preventDefault();
                });
            });
        });

        function recalculate(input) {
            //debugger;
            var idx = parseInt(input.dataset.index);
            var tmpInput = parseInt(input.value);
            var tmpWeight = parseFloat(input.dataset.weight);

            if (numberOfItems[idx] !== tmpInput) {
                numberOfItems[idx] = isNaN(tmpInput) ? 0 : tmpInput;
                partialQuantities[idx] = numberOfItems[idx] * tmpWeight;
                document.getElementById(`partialResult_${idx}`).textContent = partialQuantities[idx];

                //
                totalQuantity = 0.0;
                for (var cc = 0; cc < numberOfItems.length; cc++) {
                    totalQuantity += partialQuantities[cc];
                }

                //
                document.getElementById('totalAmount').textContent = totalQuantity;
            }
        }

    </script>
}